body {
  overflow-x: hidden;
}
.container-fluid {
  padding: 0%;
}
nav .container-fluid {
  background-color: #ff8eed;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
  font-family: eds-market-regular, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.3rem;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: #b73e3e;
}
/*burgermenu*/
.navbar-light .navbar-toggler {
  border: none;
  color: #b73e3e;
}
.navbar-toggler {
  margin-right: 20px;
}
#splahsbillede {
  background-color: #ff8eed;
}
/* .bg-light {
  --bs-bg-opacity: 0.2;
  background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
  height: 100px;
} */
#produktbeskrivelse {
  background-color: #acf8fb;
}
#produktbeskrivelse .cols-2 .skrift {
  max-width: 470px;
  margin: auto;
}
#opskrifter {
  background-color: #2a2daf;
}

#opskrifter p {
  color: white;
  max-width: 900px;
  margin: auto;
}

#favoritter {
  background-color: #ff8eed;
}
#favoritter h3 {
  color: white;
}
#favoritter h2 {
  color: #b73e3e;
}
#Godegrunde {
  background-color: #acf8fb82;
}
#Godegrunde .img-fluid {
  height: 130px;
  opacity: 70%;
}
#Godegrunde h3 {
  font-family: eds-market-bold, sans-serif;
  color: #2a2daf;
  opacity: 70%;
}

/*overskrifter + tekst*/
h1 {
  font-size: 1.5rem;
  font-family: eds-market-bold, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #b73e3e;
  margin-top: 1rem;
}
h2 {
  font-family: eds-market-bold, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.8rem;
  color: #f4ad24;
}
h3 {
  font-family: eds-market-regular, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.3rem;
  color: #2a2daf;
}
h4 {
  font-family: eds-market-regular, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.9rem;
  color: #454341;
}
p {
  font-family: puffin-display-soft, sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  /* max-width: 500px; */
  color: #454341;
}
.row {
  --bs-gutter-x: 0;
}
/*knapper*/
.btn-warning {
  border-radius: 30px;
  background: var(--link-color);
  text-align: center;
  text-decoration: none;
  letter-spacing: 1px;
  border: none;
  cursor: pointer;
  font-family: eds-market-regular, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  border-radius: 40px;
  width: 182px;
  height: 40px;
  box-shadow: 0 6px 10px rgb(0 0 0 / 0.2);
  transition: transform 0.2s;
}

.btn-warning:hover {
  color: white;
  transform: scale(1.1);
}
#favoritter button {
  background-color: #b73e3e;
  color: white;
  width: 115px;
  border-radius: 22px;
}
#favoritter .beskrivelse {
  color: white;
  max-width: 900px;
  margin: auto;
}
/* #splahsbillede .overskrifter {
  place-items: top;
}
#splahsbillede .overskrifter * {
  grid-area: 1 / 1 / -1 / -1;
} */
#splahsbillede button {
  background-color: #b73e3e;
  color: white;
}
#splahsbillede h2 {
  color: #b73e3e;
  font-size: 1.2rem;
}
#splahsbillede h3 {
  color: white;
  font-size: 1rem;
}
#opskrifter .tekst_p책_billede {
  align-items: end;
}
#opskrifter .tekst_p책_billede * {
  grid-area: 1 / 1 / -1 / -1;
}
.tekst_p책_billede {
  transition: transform 0.2s;
  cursor: pointer;
}
.tekst_p책_billede:hover {
  transform: scale(1.1);
}
#opskrifter h3 {
  background-color: #acf8fbc2;
  height: 80px;
}
#opskrifter button {
  color: white;
  background-color: #f4ad24;
}
#produktbeskrivelse button {
  color: white;
  background-color: #f4ad24;
}
#footer {
  background-color: #ff8eeca2;
}
.scale-up-right {
  animation: scale-up-right 1.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
@keyframes scale-up-right {
  0% {
    transform: scale(0.5);
    transform-origin: 100% 50%;
  }
  100% {
    transform: scale(1);
    transform-origin: 100% 50%;
  }
}
@media only screen and (min-width: 992px) {
  h1 {
    font-size: 3rem;
  }
  #splahsbillede h2 {
    font-size: 2.2rem;
  }
  #splahsbillede h3 {
    font-size: 1.7rem;
  }
  #splahsbillede {
    max-height: 450px;
  }
  #splahsbillede .overskrifter {
    padding-left: 20px;
  }
}

#button-addon1 {
  color: #ffc371;
}

i {
  color: #ffc371;
}

/* .form-control::placeholder {
  font-size: 0.95rem;
  color: #aaa;
  font-style: italic;
} */

.form-control.shadow-0:focus {
  box-shadow: none;
}
.lillebeskrivelse {
  margin-right: 50px;
}
.list-inline img {
  height: 30px;
}

footer p {
  font-family: puffin-display-soft, sans-serif;
  color: white;
}

footer h6 {
  font-family: eds-market-regular, sans-serif;
  color: #b73e3e;
}
.send img {
  height: 30px;
}
